// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer
    color: white
    font-size: 12px
    text-align: center
    margin-top: 15px